# Xcode
#
build/
DerivedData/
*.xcodeproj
*.xcworkspace
*.xcscheme
*.plist
!Sources/Info.plist

# General
.DS_Store
*.zip
!assets/*.png

# User settings
xcuserdata/

# Claude Code internal files
.claude/
